#map-canvas {
  height: 400px;
  margin: 0;
  padding: 0;
  background-color: #D8EBBE;
  border: 5px solid white;
}



.sharktank {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: #D8EBBE;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.div.container {
  margin: 0px;
}

.sharktank table {
  margin: 0 auto;
}

.clock.flip-clock-wrapper {
  margin-left: 100px;
  margin-right: 60px;
  width: 400px;
}

.hidden {
  display: none;
}

.splash {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
