#map-canvas {
  height: 400px;
  margin: 0;
  padding: 0;
  background-color: #D8EBBE;
  border: 5px solid white;
  border-radius: 10px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  background-color: #D8EBBE;
  border-radius: 20px;
}

#direction-header {
  color: white;
}


#prediction-table td {
  text-align: center;

}
.sharktank {
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
  width: 500px;
  background-color: #D8EBBE;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.basstank {
  margin-top: 100px;
  width: 100px;
  text-align: center;
  background-color: #AC683D;
  border-radius: 10px;
}

.div.container {
  margin: 0px;
}

.sharktank table {
  margin: 0 auto;
}

.list {
  margin-top: 40px;
}

.clock.flip-clock-wrapper {
  margin-left: 100px;
  margin-right: 60px;
  width: 400px;
}

.hidden {
  display: none;
}

.splash {
  padding-top: 20px;
  width: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.errors {
  color: red;
}
