#map-canvas {
  height: 400px;
  margin: 0;
  padding: 0;
  background-color: #D8EBBE;
}

.sharktank {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: #D8EBBE;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.sharktank table {
  margin: 0 auto;
}

.clock.flip-clock-wrapper {
  margin-left: 60px;
  margin-right: auto;
  width: 400px;
  position: relative;
}

.hidden {
  display: none;
}

.splash {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
