<h1>Welcome to <a href="/">MuniPlus</a></h1>
<h3>Serving the San Francisco Area</h3>
<form action="/routes" method="POST">
<label>Find a route</label>
  <input type="number" name="route_number" placeholder="Enter Route #">
  <input type="submit" value="Submit">
  <label for="inbound">Inbound</label><input type="checkbox" name="config[inbound]" id="inbound" value="1">
  <label for="outbound">Outbound</label><input type="checkbox" name="config[outbound]" id="outbound" value="1">
</form>
<% unless @route.nil? %>
<table>
<% @route.list_inbound_stops.each do |k,v| %>
  <tr>
    <td><a href="/stops/<%= k %>"><%= k %></a></td>
    <td><a href="/stops/<%= k %>"><%= v %></a></td>
  </tr>
<% end %>
</table>
<br>
<% end %>

